/* Styling for buttons and gradient */
button {
    background-color: #C7DCBB;
    color: #601B14;
    border:none;
    text-decoration: none;
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 14px 16px;
    border-radius: 50px;
}

button:hover {
    background-color: #9EB497;
}

.userBox {
    background-color:black;
    opacity:80%;
    width:50vw;
    float:right;
    height:100vh;
}

.userWelcome {
    text-align:right;
    margin-right:50px;
}

.homepage {
    background-image:url("food2.jpg");
    /* background-repeat:repat; */
    height:100vh;

}

.content{
    display:flex;
}

body {
    color:#601B14;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-recipelist{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 10px;
    text-align: justify;
    width: [width of img];
}

.my-recipelist div img{
    padding:5px;
    width:auto;
}

.recipe-title{
    display: block;
    width: 200px;
}

.edit-section{
    display: none;
}