.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:20px;
  margin: 5px;
  text-align: justify;
  width: [width of img];
}

.everything-else {
  background-image: url("food2.jpg");
  justify-content: center;
  background-attachment:scoll;
  background-repeat:repeat;
  background-size:100vh;
}

fieldset {
  background-color: rgba(145, 217, 164, 0.7);
  width: 100%;
}

.search div img {
  padding: 20px;
  padding-bottom:0px;
  width: auto;
}
.image-title {
  display: block;
  width: 200px;
  margin-left:30px;
  margin-top:0px;
  margin-bottom:3px;
  font-weight:bold;
  /* background-color: aliceblue; */
}

.search-input-box {
  display: block;
  width: 75%;
  height: 30px;
  align-content: center;
  margin: auto;
  padding-top: 10px;
  font-size: large;
}

.drop-downs {
  display: flex;
  flex-direction: row;
}

.search-bar-input {
  display: block;
  width: 75%;
  margin: auto;
  padding-top: 10px;
}
.search-button {
  margin: auto;
  margin-top: 10px;
  display: block;
  align-self: center;
  width: 40%;
  height: 50px;
  font-family: cursive;
  font-size: large;
  border-style: outset;
  border-width: 3px;
  border-color: rgb(145, 217, 164);
}
.search-button:active {
  opacity: 0.85;
}

.add-button {
  display: block;
  margin: auto;
}
